@use "../../styles/variables.scss" as *;

.backlinks {
  flex-direction: column;

  & > .backlinks-summary {
    cursor: pointer;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &::-webkit-details-marker {
      display: none;
    }

    & > h3 {
      font-size: 1rem;
      margin: 0;
    }

    & > .fold {
      color: var(--gray);
      transition: transform 0.3s ease;
    }
  }

  &:not([open]) > .backlinks-summary > .fold {
    transform: rotate(-90deg);
  }

  & > ul.overflow {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
    max-height: calc(100% - 2rem);
    overscroll-behavior: contain;

    & > li {
      & > a {
        background-color: transparent;
      }
    }
  }
}
