@use "./base.scss";

// put your custom CSS here!
ins {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: inherit;
}

blockquote p {
  margin: 0.2rem 0;
}

ul, ol {
  margin: 0.2rem 0;
  li {
    margin: 0.1rem 0;
  }
}

@media (max-width: 768px) {
  .graph {
    display: none !important;
  }

  #daily-calendar {
    display: none !important;
  }

  .readermode {
    display: none !important;
  }

  .sidebar.left .flex {
    width: 100% !important;
    flex: 1 1 auto !important;
  }

  .sidebar.left .search {
    flex: 1 1 auto !important;
    width: 100% !important;
  }
}

#mobile-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 1rem 0;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--lightgray);
}

#mobile-drawer-header .mobile-site-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dark);
}